{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}



{% block subheader %}
    <!--<div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    资料查询
                </h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="#" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												线路查询
											</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">
                        -
                    </li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
											<span class="m-nav__link-text">
												线路资源表
											</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>-->
{% endblock %}


{% block pagecontent %}
    <div class="m-portlet m-portlet--success m-portlet--head-sm" data-portlet="true"
         xmlns="http://www.w3.org/1999/html">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        搜索
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="form-group m-form__group row">
                <label class="col-lg-1 col-form-label">
                    搜索范围：
                </label>
                <div class="col-lg-2">
                    <select class="form-control m-bootstrap-select m_selectpicker" multiple="" data-actions-box="true"
                            tabindex="-98" id="search_field">
                        {% for op in search_fields %}
                            <option value={{ op[1] }}>{{ op[0] }}</option>
                        {% endfor %}
                    </select>
                    <span></span>
                </div>
                <div class="col-lg-3">
                    <input class="form-control m-input" type="text" placeholder="搜索内容" id="search_content">
                    <span></span>
                </div>
                <div class="col-lg-1">
                    <select class="form-control m-bootstrap-select m_selectpicker"
                            title="选择日期范围"
                            tabindex="-98" id="search_field_date">
                        <option value="operate_time">开通日期</option>
                        <option value="line_stop_time">停用日期</option>
                    </select>
                    <span></span>
                </div>
                <div class="input-group col-lg-4 col-md-9 col-sm-12" id="search_m_daterange">
                    <input type="text" class="form-control m-input" readonly="" name="search_daterange"
                           placeholder="选择割接时间范围">
                    <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="la la-calendar-check-o"></i>
                                    </span>
                    </div>
                </div>
                <div class="col-lg-1">
                    <button type="submit" class="btn btn-brand" id="search_submit">
                        搜索
                    </button>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="m-portlet m-portlet--success m-portlet--head-solid-bg" data-portlet="true" id="m_portlet_tools_1">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        线路资料表
                        <small>
                            查询DPLC, SDWAN, DCA, VXLAN等业务
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a href="#" data-portlet-tool="reload" class="m-portlet__nav-link m-portlet__nav-link--icon"
                           title="" data-original-title="Reload">
                            <i class="la la-refresh"></i>
                        </a>
                        <a href="#" data-portlet-tool="fullscreen" class="m-portlet__nav-link m-portlet__nav-link--icon"
                           title="" data-original-title="Fullscreen">
                            <i class="la la-expand"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <ul class="nav nav-pills nav-pills--success" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active show" data-toggle="tab" href="#m_line_data">
                        DPLC/DCA
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_vxlan">
                        VXLAN
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_dia">
                        DIA
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#m_mpls">
                        MPLS
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="m_line_data" role="tabpanel">
                    <div>
                        显示/隐藏:
                        <button class="toggle-vis btn m-btn--pill m-btn--air btn-link" type="button" data-column="3">线路属性</button>-
                        <button class="toggle-vis btn m-btn--pill m-btn--air btn-link" type="button" data-column="10">主用路由</button>-
                        <button class="toggle-vis btn m-btn--pill m-btn--air btn-link" type="button" data-column="16">停用时间</button>
                    </div>
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style>
                        <table id="example" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>线路内容</th>
                                <th>线路属性</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>保护</th>
                                <th>平台</th>
                                <th>A端信息</th>
                                <th>Z端信息</th>
                                <th>主用路由</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>线路内容</th>
                                <th>线路属性</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>保护</th>
                                <th>平台</th>
                                <th>A端信息</th>
                                <th>Z端信息</th>
                                <th>主用路由</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="m_vxlan" role="tabpanel">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style>
                        <table id="table_vxlan" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>子编号</th>
                                <th>线路属性</th>
                                <th>通道</th>
                                <th>BD</th>
                                <th>Vlan</th>
                                <th>接入端信息</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>子编号</th>
                                <th>线路属性</th>
                                <th>通道</th>
                                <th>BD</th>
                                <th>Vlan</th>
                                <th>接入端信息</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="m_dia" role="tabpanel">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style>
                        <table id="table_dia" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>Z端信息</th>
                                <th>模式</th>
                                <th>互联IP</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>Z端信息</th>
                                <th>模式</th>
                                <th>互联IP</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </tfoot>
                        </table>
                        <br>
                        <button type="button" class="btn btn-outline-info editor_create">
                            新增地址段
                        </button>

                        <table id="ip" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>IP/掩码</th>
                                <th>网关</th>
                                <th>可用地址</th>
                                <th>DNS</th>
                                <th>供应商</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>IP/掩码</th>
                                <th>网关</th>
                                <th>可用地址</th>
                                <th>DNS</th>
                                <th>供应商</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="m_mpls" role="tabpanel">
                    <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded" style>
                        <table id="table_mpls" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>子编号</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>A端信息</th>
                                <th>接入方式</th>
                                <th>路由协议</th>
                                <th>AS</th>
                                <th>VRF</th>
                                <th>RT</th>
                                <th>互联地址</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>客户名称</th>
                                <th>线路名称</th>
                                <th>子编号</th>
                                <th>通道</th>
                                <th>Vlan</th>
                                <th>A端信息</th>
                                <th>接入方式</th>
                                <th>路由协议</th>
                                <th>AS</th>
                                <th>VRF</th>
                                <th>RT</th>
                                <th>互联地址</th>
                                <th>开通人</th>
                                <th>客户商务</th>
                                <th>客户技术</th>
                                <th>我司客户经理</th>
                                <th>开通时间</th>
                                <th>停用时间</th>
                                <th>线路描述</th>
                                <th>文件管理</th>
                                <th>备注</th>
                            </tr>
                            </tfoot>
                        </table>
                        <br>
                        <table id="mpls_attribute" class="display nowrap" style="width:100%">
                            <thead>
                            <tr>
                                <th>本地路由</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>本地路由</th>
                                <th>操作</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!--end: Datatable -->
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="memo_editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        线路资料概要：
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="row_id" hidden></p>
                    <p>客户名称: <input type="text" name="customer" id="customer" readonly="true"
                                    style="border-style:none;width:300px"/></p>
                    <p>线路编号: <input type="text" name="line_code" id="line_code" readonly="true"
                                    style="border-style:none;width:300px"/></p>
                    <p>{{ wtf.form_field(modal_form.body) }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="update()" data-dismiss="modal">提交更改</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal） 用于文件上传及管理-->
    <div class="modal fade" id="file_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        线路资料概要：
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p id="row_id2" hidden></p>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                客户名称:
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" id="customer2" readonly="true"
                                       style="border-style:none;width:300px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                线路编号:
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" id="line_code2" readonly="true"
                                       style="border-style:none;width:300px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                上传文件 *
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <div class="m-dropzone dropzone m-dropzone--success dz-clickable"
                                     action="upload_files" id="m-dropzone-three">
                                    <div class="m-dropzone__msg dz-message needsclick">
                                        <h3 class="m-dropzone__msg-title">
                                            拖动文件至此或点击上传.
                                        </h3>
                                        <span class="m-dropzone__msg-desc">
														仅允许WORD, PDF, IMAGE文件
													</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="m_datatable" id="file_list"></div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->
{% endblock %}


{% block scripts %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/jPages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/dataTables.fixedColumns.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/Editor-1.6.5/css/editor.dataTables.css">

    <script type="text/javascript" charset="utf8" src="../static/datatable/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/showdown.min.js"></script>
    <script src="../static/jPages-master/js/jPages.min.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/daterangepicker.js"></script>
    <script type="text/javascript" src="../static/Editor-1.6.5/js/dataTables.editor.js"></script>
    <script src="../static/metronic/bootstrap-daterangepicker.js" type="text/javascript"></script>
    <script src="../static/metronic-default/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"
            type="text/javascript"></script>

    <script src="../static/metronic-default/assets/demo/default/custom/components/portlets/tools.js"
            type="text/javascript"></script>
    <script src="../static/metronic/file_upload/query_file_list.js" type="text/javascript"></script>
    <script src="../static/metronic/file_upload/dropzone-upload_line_file.js" type="text/javascript"></script>
    <script src="../static/datatable/mylang.js" type="text/javascript"></script>

    <script src="../static/datatable/editor_dependent.js" type="text/javascript"></script>
    <script src="../static/datatable/linedatabank.js" type="text/javascript"></script>
    <script src="../static/datatable/vxlan_datatable.js" type="text/javascript"></script>
    <script src="../static/datatable/dia_datatable.js" type="text/javascript"></script>
    <script src="../static/datatable/mpls_datatable.js" type="text/javascript"></script>

{% endblock %}