{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block pagecontent %}
    <div class="m-portlet m-portlet--success m-portlet--head-solid-bg" data-portlet="true" id="m_portlet_tools_1">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        机房管理
                        <small>
                            管理自建、缆信、第三方的业务及光放站
                        </small>
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a id="sync_from_file" class="m-portlet__nav-link m-portlet__nav-link--icon">
                            <i class="flaticon-folder"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->

            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m_datatable m-datatable--default m-datatable--loaded" style>
                <button type="button" class="btn btn-outline-info editor_create">
                    新增机房
                </button>
                <div id="customForm">
                    <fieldset class="supplier">
                        <editor-field name="name"></editor-field>
                        <editor-field name="search_city_a"></editor-field>
                        <editor-field name="a_pop_city_id"></editor-field>
                        <editor-field name="address"></editor-field>
                        <editor-field name="level_id"></editor-field>
                        <editor-field name="type_id"></editor-field>
                        <editor-field name="lift_id"></editor-field>
                        <editor-field name="noc_contact_name"></editor-field>
                        <editor-field name="noc_contact_phone"></editor-field>
                        <editor-field name="noc_contact_email"></editor-field>
                    </fieldset>
                </div>
                <table id="machine_room_table" class="display nowrap" style="width:100%">
                    <thead>
                    <tr>
                        <th>机房名称</th>
                        <th>地址</th>
                        <th>属性</th>
                        <th>是否有电梯</th>
                        <th>状态</th>
                        <th>联系人</th>
                        <!--<th>文件管理</th>
                        <th>备注</th>-->
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>机房名称</th>
                        <th>地址</th>
                        <th>属性</th>
                        <th>是否有电梯</th>
                        <th>状态</th>
                        <th>联系人</th>
                        <!--<th>文件管理</th>
                        <th>备注</th>-->
                        <th>操作</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal）备注  -->
    <div class="modal fade" id="memo_editor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        线路资料概要：
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="row_id" hidden></p>
                    <p>机房: <input type="text" name="machine_room_name" id="machine_room_name" readonly="true"
                                  style="border-style:none;width:300px"/></p>
                    <p>地址: <input type="text" name="machine_room_address" id="machine_room_address" readonly="true"
                                  style="border-style:none;width:400px"/></p>
                    <p>{{ wtf.form_field(modal_form.body) }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="update()" data-dismiss="modal">提交更改</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal） 用于文件上传及管理-->
    <div class="modal fade" id="file_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        线路资料概要：
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <p id="row_id2" hidden></p>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                机房名称:
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" id="machine_room_name2" readonly="true"
                                       style="border-style:none;width:400px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                机房地址:
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input type="text" class="form-control" id="machine_room_address2" readonly="true"
                                       style="border-style:none;width:400px">
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                上传文件 *
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <div class="m-dropzone dropzone m-dropzone--success dz-clickable"
                                     action="upload_files" id="m-dropzone-three">
                                    <div class="m-dropzone__msg dz-message needsclick">
                                        <h3 class="m-dropzone__msg-title">
                                            拖动文件至此或点击上传.
                                        </h3>
                                        <span class="m-dropzone__msg-desc">
														仅允许WORD, PDF, IMAGE文件
													</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="m_datatable" id="file_list"></div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->

    <!-- 模态框（Modal） 用于文件上传及管理-->
    <div class="modal fade" id="machine_room_batch_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        上传机房表：
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">
												&times;
											</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                上传文件 *
                            </label>
                            <div class="col-lg-6 col-md-9 col-sm-12">
                                <div class="m-dropzone dropzone m-dropzone--success dz-clickable"
                                     action="update_machine_room_from_excel" id="m-dropzone-machineroom">
                                    <div class="m-dropzone__msg dz-message needsclick">
                                        <h3 class="m-dropzone__msg-title">
                                            拖动文件至此或点击上传.
                                        </h3>
                                        <span class="m-dropzone__msg-desc">
														仅允许EXCEL文件
													</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <button type="submit" class="btn btn-primary" id="submit_update">
                    上传更新
                </button>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>

                <div class="holder">
                </div>
                <ul class="posts" id="itemContainer">
                </ul>
                <div class="holder">
                </div>


            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
    <!-- 模态框（Modal）end -->
{% endblock %}


{% block scripts %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/jPages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jPages-master/css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/dataTables.fixedColumns.css"/>
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/mycss/datatable/select.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="../static/Editor-1.6.5/css/editor.dataTables.css">

    <script type="text/javascript" charset="utf8" src="../static/datatable/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.fixedColumns.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/dataTables.select.min.js"></script>
    <script type="text/javascript" charset="utf8" src="../static/datatable/showdown.min.js"></script>
    <script src="../static/jPages-master/js/jPages.min.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/daterangepicker.js"></script>
    <script type="text/javascript" src="../static/Editor-1.6.5/js/dataTables.editor.js"></script>
    <script src="../static/metronic/bootstrap-daterangepicker.js" type="text/javascript"></script>
    <script src="../static/metronic-default/assets/demo/default/custom/components/portlets/tools.js"
            type="text/javascript"></script>
    <script src="../static/metronic/file_upload/query_file_list.js" type="text/javascript"></script>
    <script src="../static/metronic/file_upload/dropzone-upload_line_file.js" type="text/javascript"></script>
    <style>
        #customForm {
            display: flex;
            flex-flow: row wrap;
        }

        #customForm fieldset {
            flex: 1;
            border: 1px solid #aaa;
            margin: 0.5em;
        }

        #customForm fieldset legend {
            padding: 5px 20px;
            border: 1px solid #aaa;
            font-weight: bold;
        }

        #customForm fieldset.supplier {
            flex: 2 100%;
        }

        #customForm fieldset.supplier legend {
            background: #bfffbf;
        }

        #customForm fieldset.pop legend {
            background: #ffffbf;
        }

        #customForm div.DTE_Field {
            padding: 5px;
        }
    </style>

    <script src="../static/datatable/editor_dependent.js" type="text/javascript"></script>
    <script src="../static/datatable/machine_room_datatable.js" type="text/javascript"></script>
    <script src="../static/metronic-default/assets/demo/default/custom/components/forms/widgets/bootstrap-select.js"
            type="text/javascript"></script>
    <script src="../static/metronic/machine_room/dropzone-sync_machineroom.js" type="text/javascript"></script>
    <script>
        $("#sync_from_file").click(function () {
            $("#machine_room_batch_upload").removeData("bs.modal").modal('show')
        });

        jQuery(document).ready(function () {
            $("#submit_update").click(function () {
                let queued_file_length = myDropzone.getQueuedFiles().length;
                console.log(queued_file_length);
                if (queued_file_length > 0) {
                    mApp.block('#machine_room_batch_upload .modal-content', {
                        overlayColor: '#000000',
                        type: 'loader',
                        state: 'success',
                        size: 'lg'
                    });
                    myDropzone.processQueue();
                } else {
                    toastr.warning("未上传文件");
                }
            });
        });

        // toastr options
        toastr.options = {
            "closeButton": true, //是否显示关闭按钮
            "debug": false, //是否使用debug模式
            "progressBar": false,
            "positionClass": "toast-top-center",//弹出窗的位置
            "showDuration": "300",//显示的动画时间
            "hideDuration": "1000",//消失的动画时间
            "timeOut": "2000", //展现时间
            "extendedTimeOut": "1000",//加长展示时间
            "showEasing": "swing",//显示时的动画缓冲方式
            "hideEasing": "linear",//消失时的动画缓冲方式
            "showMethod": "fadeIn",//显示时的动画方式
            "hideMethod": "fadeOut" //消失时的动画方式
        };
    </script>

{% endblock %}